---
import Layout from '../../layouts/Layout.astro';
import Unit from '../../components/Unit.astro';
import Resources from '../../scripts/resources';

const { name } = Astro.params;

export const getStaticPaths = async () => {
  return Resources.unit.names.map((name) => ({ params: { name } }));
};
---

<Layout title={name}>
  <main>
    <h2>{name}</h2>

    <Unit name={name} />
  </main>
</Layout>
