---
import Layout from '../../layouts/Layout.astro';
import Thumbnail from '../../components/Thumbnail';
import UnitList from '../../components/UnitList';
import { units, unitNames } from '../../scripts/resources';
---

<Layout title="Units">
  <main>
    <UnitList client:load units={units} unitNames={unitNames} />
  </main>
</Layout>
