---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Index">
  <main>
    <div class="list-group mt-4">
      <a href="/units" class="list-group-item list-group-item-action"> Units</a>
    </div>
  </main>
</Layout>
