---
import Thumbnail from '../components/Thumbnail.astro';
import Resources from '../scripts/resources';

export interface Props {
  name: string;
}

const { name } = Astro.props;
---

<dt>
  <a href={`/units/${name}`}>{name}</a>
</dt>
<dd>
  <Thumbnail name={name} />
</dd>
