---
export interface Props {
  title: string;
}

const { title: pageTitle } = Astro.props;
const title = 'Duelyst Assets';

import '../styles/utils.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} - {title}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand border-bottom">
      <div class="container">
        <a class="navbar-brand" href="/">Duelyst Assets</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/units">Units</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/tnantoka/duelyst-assets">GitHub</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <h2 class="mt-4 fw-light">{pageTitle}</h2>

      <slot />

      <footer class="small mt-4 mb-4">
        &copy; 2023 <a href="https://twitter.com/tnantoka" class="text-decoration-none text-reset">tnantoka</a>
      </footer>
    </div>
  </body>
</html>

<style is:global>
div,
input {
  border-radius: 0 !important;
}
</style>
